
/* VARIABLE VALUE */





/* Header */






/* HERO */
/* 
.hero {
} */













/* FEATURES */





проверить работоспособность классов
/* .heder-nav:hover,
.heder-nav:active,
.heder-nav:focus {
  color: var(--liting-color);
} */




/* 
.nav {
  display: inline-flex;
  justify-content: space-around;
} */

/* .text-element {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-element-color);
} */































